@charset "UTF-8";


@font-face {
    font-family:'Tcc' ;
    src: url('TCCC-UnityText\ Black.ttf') format('truetype');
}
*{
    padding: 0px;
    margin: 0px;
}

body{
   color: rgb(0, 0, 0);

}
header{
    padding-bottom: 20px;
}


header > h1{
    color: white;
    font-family: 'Tcc';
    text-align: center;
    background-color: black;
    padding: 8px;
    font-variant: small-caps;
}
header > p{
    color: black;
    font-family: 'Tcc';
    border: solid 2px;


}


article > h2{
    font-family:'Tcc';
    color: whitesmoke;
    text-align: center;
}
.container{
    display: flex;
    border: solid 2px;
    padding: 14px;
    justify-content: space-between;
}
.item{
    font-family:'Tcc';
    border: solid 2px;
    padding: 4px;
}


footer{
    font-family: 'Tcc';
    text-align: center;
    
}



